/* primary btn */
.notched-button {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 70px;
}

.notched-button svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.notch-bg {
  fill: rgba(0, 255, 195, 0.05); 
  stroke: none;
  z-index: 0;
}
.notch-static {
  fill: none;
  stroke: #00ffc3;
  stroke-opacity: .5;
  stroke-width: 2;
  filter: drop-shadow(0 0 10px rgba(0, 255, 195, 0.8));
}

.notch-animated {
  fill: none;
  stroke: #00ffc3;
  stroke-width: 2;
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  transition: stroke-dashoffset .8s ease;
}

.notched-button:hover .notch-animated {
  stroke-dashoffset: 0;
}


.ui-btn {
  --btn-transition: .5s;
  --btn-animation-duration: 1.2s;
  --default-btn-color: #00ffc3;
  --font-size: 18.5px;
  --font-family: 'Nebula', sans-serif;
}

.ui-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  border: none;
  cursor: pointer;
  overflow: hidden;
  width: 220px;
  height: 70px;
  position:relative;
}
