@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


@font-face {
  font-family: 'Nebula';
  src: url('/nebula/Nebula-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nebula Hollow';
  src: url('/nebula/Nebula-Hollow.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@import "tailwindcss";

@theme {
  --font-chakra: "Chakra Petch", sans-serif;
  --font-nebula: "Nebula", sans-serif;
  --color-primary: #00ffc3;
  --shadow-glow: 0 0 10px var(--color-primary);
  --text-base: 19px;
  --text-tiny: 16px;
  --text-sm: 17px;
}

body {
  @apply text-primary font-chakra text-base tracking-wide
}

h1, h2, h3, h4 {
  text-shadow:
    0 0 10px rgba(0, 255, 195, .5),
    0 0 60px rgba(0, 255, 195);
  filter: brightness(1);
  line-height: 1.2;

  @apply font-nebula font-bold
}

h1 {
  @apply text-white text-[45px] md:text-[55px] 
}

h2 {
  @apply text-3xl text-white font-nebula uppercase tracking-widest md:text-5xl
}

h3 {
  @apply text-2xl md:text-3xl
}

h4 {
    @apply text-xl md:text-2xl text-white font-nebula tracking-widest 
}

p{
  @apply text-[18px] md:text-base
}
button {
  @apply cursor-pointer
}

.glow-wrapper {
  filter: drop-shadow(0 0 30px rgba(255, 153, 0, 0.3));
}

.primary-border {
  position: relative;
  background:
    linear-gradient(#00ffc3, #00ffc3) top left,
    linear-gradient(#00ffc3, #00ffc3) top left,
    linear-gradient(#00ffc3, #00ffc3) top right,
    linear-gradient(#00ffc3, #00ffc3) top right,
    linear-gradient(#00ffc3, #00ffc3) bottom left,
    linear-gradient(#00ffc3, #00ffc3) bottom left,
    linear-gradient(#00ffc3, #00ffc3) bottom right,
    linear-gradient(#00ffc3, #00ffc3) bottom right;
  background-size: 3px 80px, 80px 3px;
  background-repeat: no-repeat;
  background-position:
    top left,
    top left,
    top right,
    top right,
    bottom left,
    bottom left,
    bottom right,
    bottom right;
  box-shadow: 0 0 10px #00ffc3;
}


.glow-text {
  text-shadow:
    0 0 10px rgba(0, 255, 195, .5),
    0 0 60px rgba(0, 255, 195);
  filter: brightness(1);

}

.perspective-wrapper {
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: visible;
}

.trapezoid {
  /* clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%); */
  clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);

  @apply bg-primary/50
}


/* preloader */
.track {
  animation: prgBar 1.1s linear 1 forwards
}


@keyframes prgBar {
  0% {
    width: 0%;
  }

  9.99% {
    width: 0%;
  }

  10% {
    width: 10%;
  }

  95% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

.bar {
  position: relative;
  height: 20px;
  width: 10px;
  background-color: #00ffff;
  position: relative;
  border-radius: 2px;
  box-shadow: 0px 0px 5px #00ffff;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 100px;
  top: 2px;
  float: left;
}

 @keyframes dots {
    0%, 20% { content: ''; }
    40% { content: '.'; }
    60% { content: '..'; }
    80%, 100% { content: '...'; }
  }
  .typing-dots::after {
    content: '';
    animation: dots 1.5s infinite;
  }


